<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
    />
    <title>AniParadise</title>
  </head>

  <body>
    <div class="container-fluid shadow-lg">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold" href="#">Lizzy Loose</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
            <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active border-bottom border-2"
                  aria-current="page"
                  href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/signup"
                  >SignUp</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="col-10 col-md-5 mx-auto p-5 mt-3">
        <h2>Add Products For Lizzy Loose</h2>
        <form action="" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="" class="form-label">MOVIE NAME</label>
            <input
              type="text"
              id="productName"
              class="form-control"
              name="pName"
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label">MOVIE IMAGE</label>
            <input type="file" class="form-control" id="file" name="file"/>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">MOVIE DESCRIPTION</label>
            <textarea name="movieDesc" id="movieDesc" class="form-control" cols="30" rows="10"></textarea>
          </div>
          <div class="mb-3">
            <select name="movieType" id="selectType" class="form-select ">
                <option value="Anime">Anime</option>
                <option value="Love">Love</option>
                <option value="Horror">Horror</ option>
                <option value="Kdrama">K-Drama</option>
                <option value="Action">Action</option>
                <option value="Physco">Physco</option>
                <option value="Zombie">Zombie</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="" class="form-label">Rating</label>
            <select name="rating" id="rating" class="form-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
          </div>
          <div class="text-center">
            <button id="uploadBtn" class="btn btn-primary ">Add Movie</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
  <script src="js/fileupload.js"></script>
</html>
