<footer style="width: 100%;padding: 30px 33px; background-color: rgb(89, 89, 89);" class=" sticky sticky-bottom">
    <h6 style="text-align: center; color: white;">powered by <a href="https://www.facebook.com/RizeKamishiro66"
            style=" color: rgb(99, 99, 222); text-decoration: none;">Rize Kamishiro</a></h6>

</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>

</html>