<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <link rel="shortcut icon" href="/img/lum.jpg" type="image/x-icon" />
    <title>Movie.io</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body class="h-100 overflow-scroll">
    <div class="container-fluid shadow-lg">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="#">Secure.io</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex ms-auto" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                    <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active border-bottom border-2" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="io-user/signup">SignUp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="io-user/signin">Login</a>
                        </li>
                        <!-- <li class="nav-item">
              <a class="nav-link" href="io-user/logout">Logout</a>
            </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </div>