<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./css/app.css" />
    <link rel="shortcut icon" href="/img/lum.jpg" type="image/x-icon" />
    <title>Movie.io</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              <div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <h3>i sm nsb</h3>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</html>
